<%- include('./partials/header.ejs', {title}) %>
<div class="title text-center mt-5">
  <h2>Books</h2>
</div>
<div class="container">
  <div class="grid mt-5">
    <% books.forEach(book => { %>
    <div class="card text-dark" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= book.author.name %></h6>
        <a href="<%= book.url %>" class="card-link">Details</a>
      </div>
    </div>
    <% }) %>
    <% if (books.length === 0) { %>
        <h3 class="text-center mt-5">There are no books</h3>
    <% } %>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
