<%- include('./partials/header.ejs', {title}) %>
<div class="title mt-5">
    <h2><%= title %></h2>
</div>
<div class="container">
  <div class="grid mt-5">
    <% booksInGenre.forEach(book => { %>
    <div class="card text-dark" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <a href="<%= book.url %>" class="card-link">Details</a>
      </div>
    </div>
    <% }) %>
    <% if (booksInGenre.length === 0) { %>
        <h3 class="text-center mt-5">There are no books</h3>
    <% } %>
    
  </div>
</div>
<hr class="border-light">
<p class="btn btn-light "><a class="text-dark" href="<%= genre.url + '/delete' %>">Delete Genre</a></p>
<p class="btn btn-light "><a class="text-dark" href="<%= genre.url + '/update' %>">Update Genre</a></p>
<h6 class="text-center mt-5"><a href="/catalog/genres">Back to Genres</a></h4>
<%- include('./partials/footer.ejs') %>