extends layout

block content 
    main
        section.heading 
            h2=title
            p=category.desc
            .buttons 
                a.btn.btn-edit(href=category.url + '/edit') Edit 
                a.btn.btn-delete(href=category.url + '/delete') Delete 
        section.products-list 
                h2 Products in this category
                if products.length>0
                    .cards-grid
                        each el in products 
                            .card
                                .card-heading 
                                    h3=el.name
                                    a(href=el.url)
                                        ion-icon(name="link")
                else 
                    h4 No products are using this category.